@charset "utf-8";

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 13%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: blue;
  overflow-x: hidden;
  padding-top: 16px;
}

.logo img {
  max-width: 90%;
  display: block;
  margin: auto;
}

.app-name {
  margin-top: 10px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
}

.links {
  margin-top: 40px;
}

/* Style sidebar links */
.sidebar span {
  padding: 8px 0px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  text-align: center;
}

/* Style links on mouse-over */
.sidebar span:hover {
  cursor: pointer;
  color: #f1f1f1;
  background-color: #818181;
}

.sidebar span.active {
  color: black;
  background-color: white;
}

/* Style the main content */
.main {
  position: fixed;
  height: 100%;
  top: 0;
  left: 14%;
  width: 85%;
  overflow-y: auto;
}


.main > div {
  display: none;
}

h1 {
  margin-top: 12px;
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: bolder;
}

.keyword-search h2 {
  border-bottom: solid 2px #007bff;
  border-left: solid 8px #007bff;
  font-size: 20px;
  font-weight: bolder;
  padding: 4px 12px;
}

.keyword-search label{
  font-weight: bold;
}

.keyword-search,
.keywords-div {
  margin-bottom: 72px;
}

.keywords-div h2 {
  border-bottom: solid 2px #007bff;
  border-left: solid 8px #007bff;
  font-size: 20px;
  font-weight: bolder;
  padding: 4px 12px;
}

.keywords {
  margin-top: 12px;
  margin-left: 8px;
  border: solid 1px #818181;
  min-height: 34px;
  max-height: 94px;
  overflow-y: auto;
}

.keywords span,
.selected-k span {
  float: left;
  margin-top: 4px;
  margin-left: 4px;
  border: solid 1px #818181;
  padding: 4px;
}

.keywords span:hover {
  cursor: pointer;
  background-color: #818181;
}

.keywords span.active {
  color: white;
  background-color: #818181;
}

.third-div {
  position: relative;
}

.input-panel {
  margin-top: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.input-panel input,
.input-panel button {
  display: inline;
}

.input-panel input {
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.input-panel h2 {
  font-size: 20px;
  font-weight: bolder;
  color: #007bff;
  text-align: center;
  margin-top: 48px;
}

.topics {
  margin-top: 16px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  max-height: 228px;
  overflow-y: auto;
}

.topics span {
  border: solid 1px #007bff;
  color: #007bff;
  font-size: 16px;
  padding: 4px 8px;
  margin-bottom: 4px;
  margin-right: 4px;
}

.topics span:hover {
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.topics span.active {
  background-color: #007bff;
  color: white;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}