@charset "utf-8";

body {
  font-family: 'Meiryo';
}

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 13%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: blue;
  overflow-x: hidden;
  padding-top: 16px;
}

.logo img {
  max-width: 90%;
  display: block;
  margin: auto;
}

.app-name {
  margin-top: 10px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
}

.links {
  margin-top: 40px;
}

/* Style sidebar links */
.sidebar span {
  padding: 8px 0px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  text-align: center;
}

/* Style links on mouse-over */
.sidebar span:hover {
  cursor: pointer;
  color: #f1f1f1;
  background-color: #818181;
}

.sidebar span.active {
  color: black;
  background-color: white;
}

/* Style the main content */
.main {
  position: fixed;
  height: 100%;
  top: 0;
  left: 14%;
  width: 85%;
  overflow-y: auto;
}


.main > div {
  display: none;
}

h1 {
  margin-top: 12px;
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: bolder;
}

.content h2,
.setting-area h2 {
  border-bottom: solid 2px #007bff;
  border-left: solid 8px #007bff;
  font-size: 20px;
  font-weight: bolder;
  padding: 4px 12px;
}

.keyword-search,
.keywords-div {
  margin-bottom: 72px;
}

.portal-keyword {
  margin: 1rem;
}

.portal-selected {
  display: inline;
  width: auto;
}

.portal-sites-btn {
  vertical-align: baseline;
  margin-left: 20px;
}

.icon-img {
  width: 1rem;
  vertical-align: baseline;
}

.portal-web-sites {
  padding: 6px 12px;
  border: solid 1px #007bff;
  border-radius: .25rem;
  color: #007bff;
  margin-left: 80px;
  margin-right: 20px;
}

.portal-web-sites:hover {
  cursor: pointer;
}

.third-div {
  position: relative;
}

.input-panel {
  margin-top: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.input-panel input,
.input-panel button {
  display: inline;
}

.input-panel input {
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.input-panel h2 {
  font-size: 20px;
  font-weight: bolder;
  color: #007bff;
  text-align: center;
  margin-top: 48px;
}

.keywords {
  margin: 1rem;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  overflow-y: auto;
}

.topics {
  margin-top: 16px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  max-height: 228px;
  overflow-y: auto;
}

.keywords span,
.topics span {
  border: solid 1px #007bff;
  color: #007bff;
  font-size: 16px;
  padding: 4px 8px;
  margin-bottom: 4px;
  margin-right: 4px;
}

.keywords span:hover,
.topics span:hover {
  cursor: pointer;
  background-color: #7bbbff;
  border-color: #7bbbff;
  color: white;
}

.keywords span.active,
.topics span.active {
  background-color: #7bbbff;
  border-color: #7bbbff;
  color: white;
}